@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
//primary colors
$primary-Cyan-color:  hsl(158, 36%, 37%);
$primary-cream-color: hsl(30, 38%, 92%);
$primary-body-BG: #f3e9e0;

//neutral colors
$dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

//fonts
$body-P-font-size: 32px; //paragragh
$font-stack1: 'Montserrat', sans-serif;
$font-stack2: 'Fraunces', serif;

.attribution { 
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%);
    }
}
body{
    background: $primary-body-BG;
}
.main {

 

  .wrapper{
    display: flex;
    flex-direction: row;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px 0  30px 350px;

    .floatingDiv {
      width:300px;
    }
   
  
    
    .left-image {
        background-image: url("../images/desktop.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        float: left;
    }

    .right-desc {
        width:50%;
        background-color: $white;
        padding:10px 40px 40px 40px;
        
        .desc-content {
          display: flex;
          flex-direction: column;
          float:left;
          gap:24px;
          margin-left: 24px;
          margin-right: 30px;
          margin-top: 40px;
        

          .header {
            color: $dark-grayish-blue;
            font-family: $font-stack1;
            font-size:10px;
            letter-spacing: 3px;
            font-weight: 700;
            
          }
          .card-body {
            h1{
                margin-bottom: 20px;
                color:$dark-blue;
                font-family: $font-stack2;

            }
            p {
                color: $dark-grayish-blue;
            }
          }

          .btn-cart {
            .add-Cart {
                padding:12px;
                width:170px;
                background: $primary-Cyan-color;
                border: none;
                border-radius: 5px;
                color:$primary-cream-color;
                font-weight: bold;
                
            }
            
          }

          .price {
            display: flex;
            flex-direction: row;
            p {
                color:$primary-Cyan-color;
                font-family:$font-stack2;
                font-size: $body-P-font-size;
                font-weight: 700;
            }

            span{
                color:$dark-grayish-blue;
                text-decoration: line-through;
                margin-left:18px;
                font-size:12px;
                margin-top: 12px;
            }
          }
        
        }
       
    }

    
  }

  @media(max-width: 768px) {
    .main{
      margin:0;
      padding: 0;
      width:430px;
      
    }
    .wrapper{
      display: flex;
      flex-direction: column;
      margin: 20px 0 0 150px;
      width:400px;
      .floatingDiv {
        width:400px;
      }
    
      .left-image {
        background-image: url("../images/mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height:300px;
      }

      .right-desc {
        .desc-content {
          margin: 20px 30px 0 0;
          p{
            font-size: 14px;
          }
        }
      }
  
    }
    
  }
}



  
